html {
  font-size:17px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #fcfdfd;
}

.marginTop10 {
  margin-top: 10px;
}

.containerWidth {
  max-width: 1100px;
  margin:auto !important;
}

.expandedText {
  max-width: 625px;
}

.imgUrlKamosi {
  width: calc( 100% - 20px );
  max-width:280px;
  height: 250px;
}

.text-align-center {
  text-align:center;
}


.imgUrlPartneri {
  width: 100%;
  max-width:200px;
  height: auto;
  max-height:210px;
  
}
.inline-block {
  margin: auto;
}

.text-kamosu {
  margin: auto;
  display:inline-block;
  padding:24px;
  cursor: pointer;
  position:relative;

}

.text-partneru {
  margin: auto;
  display:inline-block;
  padding:24px;
  cursor: pointer;
  position:relative;
}

.text-partneru:hover {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
}

.imgPartner {
    position: absolute;
    right: 0;
    /* top: 100%; */
    margin-top: -36px;
    
}
.imgImgPartner {
  width: 40px;
  height: auto;
  margin: auto;
  padding-top: 10px;
  padding-right: 15px;
}
.logo_bsd{
  width: 257px;
  max-width: 100%;
  margin-top:-22px;
}

.footer-col {
  width:100%;
}

.text-kamosu:hover {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
}


.newsBottom {
  cursor: pointer;
}
.newsBottom:hover {
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
}


.inside-back {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(255, 255, 255, 0.92);
  pointer-events: none;
}

.scroll {
  opacity: 0.3;
  background-color: lightgray;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  cursor:pointer;
}

.no-p-padding p {
    margin: 0px !important;
}

.scroll:hover {
  opacity: 1;
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}


/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

.orange-txt {
    color: #F39C12;
}

.gold-border {
    border: 10px solid gold;
}

.silver-border {
    border: 10px solid silver;
}

.white-border {
    border: 10px solid whitesmoke;
}

.gold {
    background: radial-gradient(ellipse farthest-corner at right bottom,#fedb37 0,#fdb931 8%,#9f7928 30%,#8a6e2f 40%,transparent 80%),radial-gradient(ellipse farthest-corner at left top,#fff 0,#ffffac 8%,#d1b464 25%,#9f7928 62.5%,#5d4a1f 100%);
}

.silver {
    background: radial-gradient(ellipse farthest-corner at right bottom,#fff 0,silver 8%,silver 30%,#fff 40%,transparent 80%),radial-gradient(ellipse farthest-corner at left top,#fff 0,silver 8%,silver 25%,silver 62.5%,silver 100%);
}

.whitesmoke {
    background: whitesmoke;
}

.obdelnik {
    width: 95px;
    padding: 8px;
    margin: 5px;
    display: inline;
}

.friends_info.containerWidth {
    padding: 11px;
    text-align: center;
    margin-top: -20px !important;
    margin-bottom: 25px !important;
    font-weight: 600;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
